<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="CityDaoHibernate" class="dao.CityDaoHibernate"/>
       <bean id="CountryDaoHibernate" class="dao.CountryDaoHibernate"/>


       <bean id="CityService" class="service.CityService">
              <constructor-arg ref="CityDaoHibernate"/>
       </bean>
       <bean id="CountryService" class="service.CountryService">
              <constructor-arg ref="CountryDaoHibernate"/>
       </bean>

       <bean id="ResponseDaoHibernate" class="dao.ResponseDaoHibernate">
              <constructor-arg index="0" ref="CityService"/>
              <constructor-arg index="1" ref="CountryService"/>
       </bean>

       <bean id="ResponseService" class="service.ResponseService">
              <constructor-arg ref="ResponseDaoHibernate"/>
       </bean>


</beans>